repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

repos:
  - repo: https://github.com/PyCQA/pylint
    rev: v3.2.7 
    hooks:
      - id: pylint
        args:
          - --disable=missing-docstring
          - --disable=import-error
          - --disable=too-few-public-methods

        language_version: python3 
        depends_on: [black]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3  
        
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1 
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: '7.1.1'
    hooks:
      - id: flake8